In [17]:
import pandas as pd

df = pd.read_csv("DataSampah.csv")
df

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,2229.42,TON/HARI,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,532.78,TON/HARI,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,924.26,TON/HARI,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,2989.75,TON/HARI,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,614.65,TON/HARI,2016
...,...,...,...,...,...,...,...,...
184,185,32,JAWA BARAT,3275,KOTA BEKASI,1260.00,TON/HARI,2023
185,186,32,JAWA BARAT,3276,KOTA DEPOK,999.00,TON/HARI,2023
186,187,32,JAWA BARAT,3277,KOTA CIMAHI,168.12,TON/HARI,2023
187,188,32,JAWA BARAT,3278,KOTA TASIKMALAYA,205.00,TON/HARI,2023
188,189,32,JAWA BARAT,3279,KOTA BANJAR,69.37,TON/HARI,2023

In [23]:
tahun_pilih = 2016
total_sampah = 0

for i, row in df.iterrows():
    if row['tahun'] == tahun_pilih:
        total_sampah += row['jumlah_sampah']

print(f"Total produksi sampah Jawa Barat tahun {tahun_pilih}: {total_sampah:.2f} ton")

Total produksi sampah Jawa Barat tahun 2016: 35623.90 ton

In [25]:
total_per_tahun = {}

for i, row in df.iterrows():
    tahun = row['tahun']
    jumlah = row['jumlah_sampah']
    
    if tahun not in total_per_tahun:
        total_per_tahun[tahun] = 0
    
    total_per_tahun[tahun] += jumlah

df_total_tahun = pd.DataFrame(
    list(total_per_tahun.items()),
    columns=['tahun', 'total_sampah']
)

df_total_tahun

   tahun  total_sampah
0   2016      35623.90
1   2017      38268.00
2   2018           NaN
3   2020      17654.14
4   2021      11189.31
5   2022      10869.14
6   2023      11288.09

In [ ]:
df_tampil = df[['nama_kabupaten_kota', 'tahun', 'jumlah_sampah']]
df_tampil

    nama_kabupaten_kota  tahun  jumlah_sampah
0       KABUPATEN BOGOR   2016        2229.42
1    KABUPATEN SUKABUMI   2016         532.78
2     KABUPATEN CIANJUR   2016         924.26
3     KABUPATEN BANDUNG   2016        2989.75
4       KABUPATEN GARUT   2016         614.65
..                  ...    ...            ...
184         KOTA BEKASI   2023        1260.00
185          KOTA DEPOK   2023         999.00
186         KOTA CIMAHI   2023         168.12
187    KOTA TASIKMALAYA   2023         205.00
188         KOTA BANJAR   2023          69.37

[189 rows x 3 columns]

In [8]:
total_kota_tahun = {}

for i, row in df.iterrows():
    key = (row['nama_kabupaten_kota'], row['tahun'])
    jumlah = row['jumlah_sampah']

    if key not in total_kota_tahun:
        total_kota_tahun[key] = 0

    total_kota_tahun[key] += jumlah

df_kota_tahun = pd.DataFrame(
    [(nama_kota, tahun, total)
     for (nama_kota, tahun), total in total_kota_tahun.items()],
    columns=['nama_kabupaten_kota', 'tahun', 'total_sampah']
)

df_kota_tahun

    nama_kabupaten_kota  tahun  total_sampah
0       KABUPATEN BOGOR   2016       2229.42
1    KABUPATEN SUKABUMI   2016        532.78
2     KABUPATEN CIANJUR   2016        924.26
3     KABUPATEN BANDUNG   2016       2989.75
4       KABUPATEN GARUT   2016        614.65
..                  ...    ...           ...
184         KOTA BEKASI   2023       1260.00
185          KOTA DEPOK   2023        999.00
186         KOTA CIMAHI   2023        168.12
187    KOTA TASIKMALAYA   2023        205.00
188         KOTA BANJAR   2023         69.37

[189 rows x 3 columns]

In [26]:
df_total_tahun.to_csv("total_sampah_per_tahun.csv", index=False)
df_kota_tahun.to_csv("total_sampah_per_kabupaten_per_tahun.csv", index=False)

with pd.ExcelWriter("rekap_sampah_jawa_barat.xlsx") as writer:
    df_total_tahun.to_excel(writer, sheet_name="Total Per Tahun", index=False)
    df_kota_tahun.to_excel(writer, sheet_name="Per Kabupaten per Tahun", index=False)